
node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids/
*.pid
*.pid.lock
*.seed

.env
.env.*
!.env.example

coverage/
.nyc_output/

dist/
build/
tmp/
temp/
.cache/
.eslintcache
.parcel-cache/

.npm/
.pnpm-store/

.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
Desktop.ini
